.instruction > textarea {
    padding: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--neutral-5);
}

.instruction {
    display: grid;
    grid-template-columns: 2ch 1fr auto;
    grid-template-rows: auto;
    column-gap: 1ch;
    margin-bottom: 1.5rem;
}

.instruction > .error {
    grid-column: span 2;
}

.drag-handle {
    color: var(--neutral-3);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    top: 0.1rem;
}