.icon-button {
    -webkit-mask-image: url('../svg/circle.svg');
    mask-image: url('../svg/circle.svg');
}

.icon-button:hover, .icon-button:focus {
    background-color: var(--neutral-8);
    outline: none;
    cursor: pointer;
}

.icon-button:active {
    background-color: var(--neutral-5);
}

.icon-button-container {
    display: inline-block;
}

h2 > .icon-button-container {
    position: relative;
    left: 1ch;
    top: 0.4em;
}