.RecipeForm {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

p,
span {
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: min(80rem, 100%);
    margin: auto;
}

.field-container {
    flex: 0 0 auto;
    display: grid;
    justify-content: start;
    margin-bottom: 1.2rem;
}

.field-container.inline {
    width: fit-content;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "label input"
        "error error";
    column-gap: 1ch;
    align-items: baseline;
}

.field-container.stacked {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "label"
        "input"
        "error";
}

.field-container.stacked > label {
    margin-bottom: 1ch;
}

.field-container > input[type=text] {
    grid-area: input;
}

.field-container > label {
    grid-area: label;
}

.field-container > .error {
    grid-area: error;
}

input[type=text] {
    -webkit-appearance: none;
    appearance: none;
    height: 3ch;
    background-color: transparent;
    padding: 0rem;
    font-size: 1.6rem;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--neutral-5);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
}

textarea {
    resize: none;
    appearance: none;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--neutral-5);
    border-radius: 0.5rem;
    line-height: 2rem;
}

input:focus {
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
    box-sizing: border-box;
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -3px;
    top: -0.55em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}

input[type="checkbox"]:focus {
    border: 1px solid black;

}

input.title {
    flex: 0 0 auto;
    font-size: 3.2rem;
    font-weight: bolder;
    height: 2.5ch;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0;
    margin-top: 0rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

input.title:focus {
    border-bottom: 2px solid var(--neutral-3);
}

.error {
    font-size: 1.4rem;
    color: var(--error-red);
    margin-bottom: 1rem;
}