:root {
    /* COLOR */
    --col-neutral-0: black;
    --col-neutral-1: rgb(24, 24, 24);
    --col-neutral-2: rgb(74, 74, 74);
    --col-neutral-3: rgb(118, 118, 118);
    --col-neutral-4: rgb(155, 155, 155);
    --col-neutral-5: rgb(186, 186, 186);
    --col-neutral-6: rgb(209, 209, 209);
    --col-neutral-7: rgb(226, 226, 226);
    --col-neutral-8: rgb(236, 236, 236);
    --col-neutral-9: white;

    --col-text-backing: white;
    --col-error-red: red;

    /* FONT */
    --font-size-small: 1.6rem;
    --font-size-normal: 1.8rem;
    --font-size-xxlarge: 3.8rem;
    --font-size-xlarge: 2.8rem;
    --font-size-large: 2.2rem;
}