.dropdown-menu {
    position: relative;
    border: var(--neutral-3) 1px solid;
    border-style: solid;
    border-radius: 0.3rem;
    background-color: var(--neutral-9);
}

.menu-button {
    padding: 0.8rem;
    box-sizing: border-box;
}

.menu-button:hover {
    background-color: var(--neutral-6);
}