.ingredient-list {
    --percent-symbol-width: 1.3ch;
    --quantity-input-width: 10ch;
    display: inline-grid;
    grid-auto-rows: auto;
    column-gap: 1.6rem;
    row-gap: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

.ingredient-list > input[type="text"] {
    width: 100%;
}

.ingredient-list > .percentage > input[type="text"] {
    width: calc(100% - var(--percent-symbol-width));
}

.ingredient-list > .grid-header {
    font-size: var(--font-size-small);
    color: var(--neutral-2);
}

.ingredient-list.hide-percentages {
    --num-ingredient-columns: 3;
    grid-template-columns: 1fr var(--quantity-input-width) auto;
}

.ingredient-list.show-percentages {
    --num-ingredient-columns: 4;
    grid-template-columns: 1fr var(--quantity-input-width) calc(5ch + var(--percent-symbol-width)) auto;
}

.ingredient-errors {
    grid-column: span var(--num-ingredient-columns);
}

input[type="text"].new-ingredient {
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
}

svg.close {
    color: var(--neutral-3);
}

svg.close:active {
    color: var(--neutral-9);
}

input[type=text].ingredients-sublist-name {
    border-bottom: 2px solid transparent;
}

input[type=text].ingredients-sublist-name:focus {
    border-bottom: 2px solid var(--neutral-3);
}

input[type=text].ingredients-sublist-name:hover:not(:focus) {
    border-bottom: 2px solid var(--neutral-6);
}