button, input[type=submit] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--neutral-4);
    border-radius: 0.3rem;
    margin-right: 2rem;
    box-sizing: border-box;
}

button:hover, input[type=submit]:hover {
    background-color:var(--neutral-5)

}

button.primary, input[type=submit] {
    background-color: rgb(119, 160, 255);
    border-color: rgb(66, 115, 229);
    border-width: 2px;
}

button.primary:hover, input[type=submit]:hover {
    background-color: rgb(66, 115, 229);
    border-color: rgb(42, 89, 198);
    color: rgb(162, 190, 255);
}