:root {
    --neutral-0: black;
    --neutral-1: rgb(24, 24, 24);
    --neutral-2: rgb(74, 74, 74);
    --neutral-3: rgb(118, 118, 118);
    --neutral-4: rgb(155, 155, 155);
    --neutral-5: rgb(186, 186, 186);
    --neutral-6: rgb(209, 209, 209);
    --neutral-7: rgb(226, 226, 226);
    --neutral-8: rgb(236, 236, 236);
    --neutral-9: white;
}