@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

#app-content {
    width: min(80rem, 100vw);
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    --font-size-small: 1.6rem;
    --font-size-normal: 1.8rem;
    --font-size-h1: 3.8rem;
    --font-size-h2: 2.6rem;
    --font-size-h3: 2.2rem;

}

button, input, select, textarea {
    font-family: inherit;
    font-size: var(--font-size-normal);
}

p, span, a, div, label {
    font-size: var(--font-size-normal);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h1, h2, h3 {
    margin-top: 1.3ch;
    margin-bottom: 0.7ch;
}

dialog {
    position: fixed;
    top: 2.5rem;
    width: min(75rem, 100%);
    margin: auto;
    border-radius: 0.3rem;
    border: 1px solid var(--neutral-4);
    box-sizing: border-box;
    box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
}