@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

body {
    margin: 0px;
}

html {
    font-size: 62.5%;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 1.6rem;
}

p, span, a, div, label {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.2rem
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}