@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;
}

/* end reset */

#app-content {
    width: min(80rem, 100vw);
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    --font-size-small: 1.6rem;
    --font-size-normal: 1.8rem;
    --font-size-h1: 3.8rem;
    --font-size-h2: 2.6rem;
    --font-size-h3: 2.0rem;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: var(--font-size-normal);
}

p, span, a, div, label {
    font-size: var(--font-size-normal);
}

h1, .h-1 {
    font-size: var(--font-size-h1);
}

h2, .h-2 {
    font-size: var(--font-size-h2);
}

h3, .h-3 {
    font-size: var(--font-size-h3);
}

h1, .h-1, h2, .h-2, h3, .h-3 {
    margin-top: 1.3ch;
    margin-bottom: 0.7ch;
    font-weight: bolder;
}

dialog {
    position: fixed;
    top: 2.5rem;
    width: min(75rem, 100%);
    margin: auto;
    border-radius: 0.3rem;
    border: 1px solid var(--neutral-4);
    box-sizing: border-box;
    box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.tabbed {
    /* grid-template-columns should be set inline */
    display: inline-grid;
    grid-auto-rows: auto;
    column-gap: 2rem;
}